In [ ]:
pip install sqlalchemy==1.4

In [ ]:
pip install boto3==1.23.0

In [ ]:
pip install s3fs

In [4]:
pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyodbc in /usr/local/lib/python3.10/dist-packages (4.0.39)

In [5]:
import pandas as pd
import s3fs
import sqlalchemy
import pyodbc

In [6]:
import boto3

In [7]:
pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.1.1)

Parte 1

In [13]:
servidor = 'engenharia.cjzilpxqtnw3.us-east-1.rds.amazonaws.com'
usuario = 'aluno'
senha = 'aluno123'
str_conexao = f'mysql://{usuario}:{senha}@{servidor}'
engine = sqlalchemy.create_engine(str_conexao)
engine.connect()

In [14]:
database = 'CHAMADO_TECNICO'
str_conexao = f'mysql://{usuario}:{senha}@{servidor}/{database}'
engine = sqlalchemy.create_engine(str_conexao)
engine.connect()

In [15]:
funcionario_df = pd.read_sql('FUNCIONARIO', engine)
funcionario_df.to_csv('/content/chamado_tecnico/FUNCIONARIO.csv')

In [16]:
departamento_df = pd.read_sql('DEPARTAMENTO', engine)
departamento_df.to_csv('/content/chamado_tecnico/DEPARTAMENTO.csv')

In [17]:
prioridade_df = pd.read_sql('PRIORIDADE', engine)
prioridade_df.to_csv('/content/chamado_tecnico/PRIORIDADE.csv')

In [18]:
chamado_df = pd.read_sql('CHAMADO', engine)
chamado_df.to_csv('/content/chamado_tecnico/CHAMADO.csv')

In [19]:
categoria_df = pd.read_sql('CATEGORIA', engine)
categoria_df.to_csv('/content/chamado_tecnico/CATEGORIA.csv')

In [8]:
aws_access_key_id='ASIAZ3E4Y7IKRFUPLCXV'
aws_secret_access_key='FwTwacMSxiEfrSxLNGR1gXmO5SIiYg8NUXRjXpDW'
aws_session_token='FwoGZXIvYXdzEBgaDAOMhrMKPPw91tipliLcAblwKk+bfeWnCjzDV3UPYd8RZHXy6xFoY11xo+8wDPF02nPFjwUqvy/GSPa+gMtZGOXLEBRCiCAO2MaHnQcoSiQWqpx14Px4rKPERp/AwcdHYMhVr8at8TjmsSaHIHTKInS6Q+RgIGBWxC8tFjRPpJQ8Qbg/qk5m1Uh1GNMfLk63B40w8EHts9t1zxy4LPtZTvNCrTUeFzxX213tD9sQ90l78620HZrhC9Z5Gwz/xlPUG3DuFF5NNx8kLrBhMjwdbbOEXoHoEzRf2XR94a+CyRyhe/HcFWGoPEBqV88o9t7+owYyLfHcGAJS0tqOvboxD0aAlC4Dgfg+2aQqtIrVyjbv8zquXlUmoW1VeS5gTbd5rA=='

In [9]:
client_s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id,
                               aws_secret_access_key=aws_secret_access_key,
                               aws_session_token=aws_session_token, use_ssl=False)

In [ ]:
bucket_prova = 'chamado-tecnico-2202566'
client_s3.create_bucket(Bucket=bucket_prova)

In [11]:
resource_s3 = boto3.resource('s3', aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key,
                      aws_session_token=aws_session_token, use_ssl=False)

In [12]:
chamado_tecnico = resource_s3.Bucket('chamado-tecnico-2202566')

In [13]:
chamado_tecnico.upload_file(Filename='/content/FUNCIONARIO.csv',
                              Key='chamado_tecnico/FUNCIONARIO.csv')

In [14]:
chamado_tecnico.upload_file(Filename='/content/DEPARTAMENTO.csv',
                              Key='chamado_tecnico/DEPARTAMENTO.csv')

In [15]:
chamado_tecnico.upload_file(Filename='/content/PRIORIDADE.cs'v,
                              Key='chamado_tecnico/PRIORIDADE.csv')

In [16]:
chamado_tecnico.upload_file(Filename='/content/CHAMADO.csv',
                              Key='chamado_tecnico/CHAMADO.csv')

In [17]:
chamado_tecnico.upload_file(Filename='/content/CATEGORIA.csv',
                              Key='chamado_tecnico/CATEGORIA.csv')

Parte 2

In [ ]:
%%sh
sudo pip install spark
sudo pip install pyspark

In [21]:
import spark,pyspark
from pyspark.sql import *
from pyspark.sql import functions as f
from pyspark.sql import types as t 
from datetime import datetime, date

In [22]:
spark = SparkSession.builder.master('local').appName('Prova Final').getOrCreate()

In [28]:
dffuncionario = spark.read.format('csv').option('header','true').option('delimiter',',').load('/content/chamado_tecnico/FUNCIONARIO.csv')
dfdepartamento = spark.read.format('csv').option('header','true').option('delimiter',',').load('/content/chamado_tecnico/DEPARTAMENTO.csv')
dfprioridade = spark.read.format('csv').option('header','true').option('delimiter',',').load('/content/chamado_tecnico/PRIORIDADE.csv')
dfchamado = spark.read.format('csv').option('header','true').option('delimiter',',').load('/content/chamado_tecnico/CHAMADO.csv')
dfcatetoria = spark.read.format('csv').option('header','true').option('delimiter',',').load('/content/chamado_tecnico/CATEGORIA.csv')

In [25]:
dffuncionario.show()

+---+--------------+---------+---------------+---------------+----------------+---------------+
|_c0|ID_FUNCIONARIO|MATRICULA|           NOME|DATA_NASCIMENTO|DATA_CONTRATACAO|ID_DEPARTAMENTO|
+---+--------------+---------+---------------+---------------+----------------+---------------+
|  0|             1|      200|FERNANDO CARLOS|     1988-01-01|      2020-01-01|              1|
|  1|             2|      201|   LEANDRO MAIA|     1988-07-21|      2020-02-01|              1|
|  2|             3|      202| FELIPE ALMEIDA|     1987-04-21|      2020-02-02|              1|
|  3|             4|      203|      JEAN GRIT|     2000-02-02|      2020-02-03|              1|
|  4|             5|      100| EDUARDO CARLOS|     1988-01-01|      2018-01-01|              2|
|  5|             6|      101|     ALICIA LEN|     1988-07-21|      2019-02-01|              2|
|  6|             7|      102| LEANDRA SUSHAI|     1987-04-21|      2020-04-02|              2|
|  7|             8|      103|   JONAS EDULIT|     2000-02-02|      2020-03-03|              2|
|  8|             9|      104|  LARISSA CAMIR|     2002-02-02|      2020-01-03|              2|
|  9|            10|      105|     LUANA LUPE|     2001-02-02|      2020-05-03|              2|
| 10|            11|      300|   LINDA MIGUEL|     1986-01-01|      2020-01-01|              3|
| 11|            12|      301|    LEANDRO LIN|     1986-07-10|      2020-02-01|              3|
| 12|            13|      302| FELIPE ALMEIDA|     1985-08-01|      2020-02-01|              3|
| 13|            14|      303|    CARLOS GRIT|     1999-09-02|      2020-02-01|              3|
| 14|            15|      304|    FELIPE JANI|     1985-08-01|      2020-02-02|              3|
| 15|            16|      305|  MARIA EUGENIA|     1969-09-02|      2020-02-02|              3|
| 16|            17|       10|   MARCOS BRATT|     1978-04-01|      2020-01-01|              1|
| 17|            18|       11|      LANCE LOR|     1998-05-21|      2020-02-01|              1|
+---+--------------+---------+---------------+---------------+----------------+---------------+

In [29]:
dfchamado.show()

+---+----------+--------------+------------+-------------+------------+----------+----------+-----+
|_c0|ID_CHAMADO|ID_SOLICITANTE|ID_CATEGORIA|ID_PRIORIDADE|ID_ATENDENTE|  ABERTURA|FECHAMENTO|CUSTO|
+---+----------+--------------+------------+-------------+------------+----------+----------+-----+
|  0|         1|             5|           1|            1|           1|2020-01-01|2020-01-01| 10.5|
|  1|         2|             6|           2|            1|           1|2020-01-01|2020-01-01| 10.5|
|  2|         3|             7|           3|            1|           2|2020-01-01|2020-01-01| 10.5|
|  3|         4|             8|           1|            1|           2|2020-01-01|2020-01-01| 10.5|
|  4|         5|             9|           2|            1|           3|2020-01-01|      null|  0.0|
|  5|         6|            10|           3|            2|           3|2020-01-01|      null|  0.0|
|  6|         7|            11|           1|            1|           4|2020-01-01|      null|  0.0|
|  7|         8|            12|           2|            1|           4|2020-01-02|      null|  0.0|
|  8|         9|            13|           3|            1|           1|2020-01-02|      null|  0.0|
|  9|        10|            14|           1|            1|           1|2020-01-02|      null|  0.0|
| 10|        11|            15|           2|            1|           2|2020-01-02|      null|  0.0|
| 11|        12|            16|           3|            1|           2|2020-01-02|2020-01-02| 10.5|
| 12|        13|            17|           1|            3|           3|2020-01-03|2020-01-03| 10.5|
| 13|        14|            18|           2|            1|           3|2020-01-03|2020-01-03| 10.5|
| 14|        15|             5|           3|            3|           4|2020-01-03|2020-01-03| 10.5|
| 15|        16|             6|           1|            3|           4|2020-01-03|2020-01-03| 10.5|
| 16|        17|             7|           2|            3|           1|2020-01-03|2020-01-03| 10.5|
| 17|        18|             8|           3|            3|           1|2020-01-03|2020-01-03|100.5|
| 18|        19|             9|           1|            3|           2|2020-01-03|2020-01-08|100.5|
| 19|        20|            10|           2|            3|           2|2020-01-03|2020-01-08|100.5|
+---+----------+--------------+------------+-------------+------------+----------+----------+-----+
only showing top 20 rows

In [30]:
chamados_fechados = dffuncionario.join(dfchamado,(dffuncionario.ID_FUNCIONARIO==dfchamado.ID_SOLICITANTE),'inner').select(dffuncionario.NOME,dffuncionario.MATRICULA,dfchamado.ABERTURA,dfchamado.FECHAMENTO)
chamados_fechados = chamados_fechados.na.drop(how='any')

In [31]:
chamados_fechados.show()

+--------------+---------+----------+----------+
|          NOME|MATRICULA|  ABERTURA|FECHAMENTO|
+--------------+---------+----------+----------+
|EDUARDO CARLOS|      100|2020-01-01|2020-01-01|
|    ALICIA LEN|      101|2020-01-01|2020-01-01|
|LEANDRA SUSHAI|      102|2020-01-01|2020-01-01|
|  JONAS EDULIT|      103|2020-01-01|2020-01-01|
| MARIA EUGENIA|      305|2020-01-02|2020-01-02|
|  MARCOS BRATT|       10|2020-01-03|2020-01-03|
|     LANCE LOR|       11|2020-01-03|2020-01-03|
|EDUARDO CARLOS|      100|2020-01-03|2020-01-03|
|    ALICIA LEN|      101|2020-01-03|2020-01-03|
|LEANDRA SUSHAI|      102|2020-01-03|2020-01-03|
|  JONAS EDULIT|      103|2020-01-03|2020-01-03|
| LARISSA CAMIR|      104|2020-01-03|2020-01-08|
|    LUANA LUPE|      105|2020-01-03|2020-01-08|
|   CARLOS GRIT|      303|2020-02-01|2020-02-08|
|   FELIPE JANI|      304|2020-02-01|2020-02-08|
| MARIA EUGENIA|      305|2020-02-01|2020-02-08|
|  MARCOS BRATT|       10|2020-02-01|2020-02-08|
|     LANCE LOR|       11|2020-02-01|2020-02-03|
|   LEANDRO LIN|      301|2020-02-01|2020-02-03|
|  MARCOS BRATT|       10|2020-02-01|2020-02-03|
+--------------+---------+----------+----------+
only showing top 20 rows

In [32]:
chamados_fechados.write.format('parquet').mode('overwrite').save('/content/relatorios/chamados_fechados')

In [33]:
data_chamado = dfchamado.withColumn('ANO',f.year('ABERTURA')).withColumn('MES',f.month('ABERTURA')).withColumn('DIA',f.dayofmonth('ABERTURA')).withColumn('QUANT_CHAM', dfchamado['ID_CHAMADO'].cast('int'))
data_chamado = data_chamado.select('ANO','MES','DIA','QUANT_CHAM')
data_chamado = data_chamado.groupBy('ANO','MES','DIA').agg(f.count(data_chamado.QUANT_CHAM))
data_chamado = data_chamado.orderBy('ANO','MES','DIA')

In [34]:
data_chamado.show()

+----+---+---+-----------------+
| ANO|MES|DIA|count(QUANT_CHAM)|
+----+---+---+-----------------+
|2020|  1|  1|                7|
|2020|  1|  2|                5|
|2020|  1|  3|               11|
|2020|  2|  1|               14|
|2020|  3|  1|                8|
|2020|  4| 11|                5|
|2020|  5| 12|                8|
|2020|  6| 11|               10|
|2020|  7|  9|                7|
|2020|  8|  9|                7|
|2020|  9|  3|                6|
|2020| 10|  1|                6|
|2020| 10|  2|                4|
+----+---+---+-----------------+

In [35]:
data_chamado.write.format('parquet').mode('overwrite').save('/content/relatorios/data_chamado')

In [36]:
dynamodb = boto3.resource('dynamodb', aws_access_key_id=aws_access_key_id,
                                      aws_secret_access_key=aws_secret_access_key,
                                      aws_session_token=aws_session_token,
                                      region_name = "us-east-1", use_ssl=False)

In [37]:
table_name = 'SMARTPHONE-2202566'
params = {
        'TableName': 'SMARTPHONE-2202566',
        'KeySchema': [
            {'AttributeName': 'ID_SMARTPHONE', 'KeyType': 'HASH'},
        ],
        'AttributeDefinitions': [ 
            {'AttributeName': 'ID_SMARTPHONE', 'AttributeType': 'N'},
        ],
        'ProvisionedThroughput': {
            'ReadCapacityUnits': 3,
            'WriteCapacityUnits': 3
        }
    }
dynamodb.create_table(**params)

dynamodb.Table(name='SMARTPHONE-2202566')

In [38]:
table = dynamodb.Table('SMARTPHONE-2202566')
table.put_item(
    Item={'ID_SMARTPHONE':1,
         'MARCA': 'SAMSUNG',
         'MODELO': 'S8',
         'VALOR': '800'})

table.put_item(
    Item={'ID_SMARTPHONE':2,
        'MARCA': 'LG',
        'MODELO': 'K22',
        'VALOR': '900'
    })

table.put_item(
   Item={'ID_SMARTPHONE':3,
        'MARCA': 'MOTOROLA',
        'MODELO': 'ONE',
        'VALOR': '1000'
    })

{'ResponseMetadata': {'RequestId': 'T6MTEFBOQAM5CSAAOH3DIEA80BVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'T6MTEFBOQAM5CSAAOH3DIEA80BVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'date': 'Wed, 07 Jun 2023 00:52:54 GMT'},
  'RetryAttempts': 0}}

Gregory Henrique Cavalcanti Alves Leite - 2202566

Myke Wellington Espanhol - 2202511